In [1]:
import pandas as pd
import numpy as np

In [9]:
df_train = pd.read_csv("data/train_data.csv", sep = ";")

In [10]:
df_train.head(10)

,origin_latitude,origin_longitude,destination_latitude,destination_longitude,weight,loading_meters,is_adr,shipping_date,cost
0,27.22,105.59,26.91,108.67,0.513,0.195,True,2017-04-24,0.247
1,25.00,109.79,25.34,108.59,0.484,0.195,True,2017-07-27,0.248
2,27.10,105.60,29.35,106.54,0.484,0.195,True,2017-02-03,0.276
3,24.72,106.25,23.43,109.78,0.504,0.195,True,2017-04-03,0.276
4,22.33,108.37,29.38,111.50,0.484,0.195,True,2018-11-08,0.553
5,24.77,108.20,25.18,111.02,0.330,0.195,True,2019-01-14,0.352
6,25.76,109.61,27.30,105.00,0.467,0.092,True,2018-08-21,0.442
7,23.98,105.76,24.80,108.04,0.484,0.195,True,2017-03-28,0.308
8,27.93,107.13,27.78,109.51,0.503,0.195,True,2018-10-02,0.266
9,24.71,107.21,27.34,105.61,0.494,0.195,True,2017-03-14,0.263

In [12]:
df_train.tail()

,origin_latitude,origin_longitude,destination_latitude,destination_longitude,weight,loading_meters,is_adr,shipping_date,cost
251150,25.14,111.73,26.10,106.74,0.322,0.195,True,2018-08-15,0.511
251151,24.00,110.82,24.98,104.39,0.496,0.195,True,2018-12-11,0.553
251152,26.95,105.52,24.66,110.34,0.495,0.215,True,2017-09-19,0.436
251153,26.91,108.67,27.30,105.00,0.488,0.063,True,2017-06-27,0.306
251154,22.45,107.36,24.63,107.41,0.253,0.195,True,2017-04-12,0.346

In [13]:
df_train.shape

(251155, 9)

In [14]:
df_train.columns

Index(['origin_latitude', 'origin_longitude', 'destination_latitude',
       'destination_longitude', 'weight', 'loading_meters', 'is_adr',
       'shipping_date', 'cost'],
      dtype='object')

In [15]:
df_train.isnull().sum()

origin_latitude          0
origin_longitude         0
destination_latitude     0
destination_longitude    0
weight                   0
loading_meters           0
is_adr                   0
shipping_date            0
cost                     0
dtype: int64